<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Author: Emanuele Dadone

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Pyhton
2. R
3. SQL
4. Julia

**Objectives:**
- List popular languages for Data Science  
- Describe the key stages of the Data Science process  
- Identify common libraries used for data analysis  
- Explain the role of Jupyter Notebooks in Data Science  
- Demonstrate simple data visualization techniques

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. scikit-learn

|Data Science Tools|
|---|
|VS Code|
|R Studio|
|Jupiter notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
minutes=200
#This will convert 200 minutes to hours by diving by 60
hours=minutes/60
print(hours)

3.3333333333333335